body{
    font-family: 'Roboto', sans-serif;
    color: rgb(129, 122, 122);
    margin: 0;
}
h1{
    font-size: 60px;
}
p{
    margin-bottom: 60px;
    font-size: 20px;
}
section{
    width: auto;
}
.top-banner{
    margin-top: 92px;
}
.color-blue{
    color: blue;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
    
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(185, 185, 243), blue);
    color: white;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 25px;
    font-size: 18px;
}
.middle-banner{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.food-list{
    box-shadow: 10px 10px 40px gray;
    width: 33.33%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;

}
.food-list img{
    width: 330px;
    height: 200px;
    display: block;
    padding-top: 15px;
    border-radius: 20px;
    margin: auto;
    
}
.popular-list{
    margin-left: 25px;
    margin-right: 25px;
}
.center-content{
    text-align: center;
    font-size: 20px;
}
.counter-sec{
    width: auto;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    margin-left: 40px;
    margin-right: 40px;
}
.counter-position{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}
.counter-section{
    width: 33.33%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    line-height:1px;
}
.footer{
    background-color: black;
    color: rgb(153, 146, 146);
    width: auto;
    height: 200px;
    padding-top: 15px;
    padding-bottom: 20px;
    line-height:1.5px;
}
.footer-section{
    margin-top: 80px;
}
.about-text{
    padding-top: 100px;
}